{% extends 'index.html' %}

{% load static %}

{% block body%}
<div>
    <link rel="stylesheet" href="{% static 'css/friends.css' %}">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    a:hover{
       color:#000000;
      }
        .req_c{
          background-color:#ffffff;
          width:50vw;
          padding-top:.5vw;
          padding-bottom:.5vw;
          height:40vh;
          border-radius:5px;
          margin-bottom:30px;
          border:.1px solid #dad8d8;
        }
        .requ{
          margin-left:auto;
          margin-right:auto;
          background-color:#ffffff;
          width:49vw;
          border:.1px solid  #dad8d8;
          display:flex;
          flex-direction:row;
          justify-content:space-between;
          align-items:center;
          border-radius:5px;
          margin-top:2px;
          margin-bottom:2px;
          transition-property:all;
          transition:.1s ease;
        }
        .add_b{
          border:none;
          font-size:15px;
          height:30px;
          border-radius:5px;
          font-weight:bold;
          background-color:#0095f6;
          color:#ffffff;
      }
      .added_b{
          border:0.1px solid #dad8d8;
          font-size:15px;
          height:30px;
          border-radius:5px;
          font-weight:bold;
          background-color:#fafafa;
          color:#000000;
      }
      .det{
        margin:10px;
      }
      .bs{
        margin:10px;
      }
      .un{
        text-transform:capitalize;
        font-weight:bold;
      }
      .req_t{
       margin:10px;
       font-family: 'sui-semi-bold';
       font-size:20px;
       font-weight:bolder;
      }
      .un{
         font-size:20px;
               font-family: 'sui-semi-bold';
      }
      .un_n{
         font-size:16px;
         font-family: 'sui-semi-bold';
         color:#8e8e8e;
      }
      .con{
        overflow-y:auto;
      }
      .con::-webkit-scrollbar{
        width:0px;
      }
      a{
       color:black;
       text-decoration:none;
      }
      .requ:hover{
        background-color:#f0e3e3;
      }

    </style>
    <div>
        <script>
            function add(e){
              var to=document.getElementById("us").value
              var fr=document.getElementById("ff").value
              var url="/add?user1="+fr+"&user2="+to
              fetch(url).then(res=>res.text()).then(data=>{
                   if(data=="True"){
                      var b=e.srcElement
                      b.style.backgroundColor="#fafafa"
                      b.innerHTML="added"
                      b.style.border="0.1px solid grey"
                      b.style.color="#000000"
                      window.location.reload()
                   }
              })
            }
            function rem(e){
              var to=document.getElementById("us").value
              var fr=document.getElementById("ff").value
              var url="/remreq?From="+fr+"&To="+to
              fetch(url).then(res=>res.text()).then(data=>{
                   if(data=="True"){
                      window.location.reload()
                   }
              })
            }
        </script>
        <div class="req_c">
             <div class="req_t">
             Requests
            </div>
            <div class="con">
            {% for i in req %}
                <a href="/user/{{i.username}}" class="requ">
                  <div class="det">
                     <div class="un">
                       <div>{{i.name}}</div>
                    </div>
                    <div  class="un_n">{{i.username}}</div>
                  </div>
                  <div class="bs">
                      <input value="{{i.username}}" id="ff" type="hidden">
                      <input value="{{loguser}}" id="us" type="hidden">
                      <button class="add_b" onclick="add(event)">Accept</button>
                      <button class="added_b" onclick="rem(event)">remove</button>
                  </div>
                </a>
            {% endfor %}
            </div>
        </div>
        <div class="req_c">
            <div class="req_t">
                Friends
            </div>
            <div class="con">
             {% for i in friends %}
              <div class="requ">
                  <div class="det">
                     <div class="un">
                       <a href="/user/{{i.username}}">{{i.name}}</a>
                    </div>
                    <div  class="un_n">
                      {{i.username}}
                     </div>
                  </div>
              </div>
            {% endfor %}
             </div>
        </div>
    </div>
</div>
{% endblock %}