@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.whole{
  background-color:#fafafa;
  display:flex;
  flex-direction:row;
  width:100vw;
  height:100vh;
  align-items:center;
  justify-content:center;
}
.log{
  width:320px;
  height:500px;
  margin-right:0vw;
}

body{
  margin:0px;
  padding:0px;
}

.login{
   background-color:rgba(var(--d87,255,255,255),1);
   border:1px solid rgba(var(--b6a,219,219,219),1);
   width:350px;
   height:410px;
   margin-bottom:20px;
}

.reg{
   background-color:rgba(var(--d87,255,255,255),1);
   border:1px solid rgba(var(--b6a,219,219,219),1);
   width:350px;
   height:70px;
   font-family: 'Open Sans', sans-serif;
   display:flex;
   align-items:center;
   justify-content:center;
   font-size:15px;

}

.reg > a{
    color:#0095f6;
    font-weight:bold;
    text-align:center;
    margin:3px;
}

.logo{
   font-family: 'Lobster Two',cursive, italic;
   font-weight:bold;
   font-size:40px;
   text-align:center;
   margin:20px;
}

.incon{
  margin-top:20%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.inp{
  position:relative;
  width:75%;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:7px;
  border-radius:5px;
  border:1px solid rgba(var(--b6a,219,219,219),1);

}

#but{
 color:#ffffff;
 background-color:#0095f6;
 border:none;
 height:30px;
 margin-top:15px;
}
